* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

.login.page {
  background-color: #000;
}
.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top:50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size:200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}
.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 30px 20px;
}

.message.typing .messageBody {
  color: gray;
}
.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-left: 15px;
  text-align:right;
}

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right:0;
  width:100%;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}

.chat.page {
  display: none;
}

.chat.page .pass-button {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #248;
  color: #fff;
  border-style: none;
  width: 100%;
}

.pass-button:disabled {
  background-color: #777 !important;
}
.sc-position {
  text-align: center;
  font-size: 1.4em;
  padding: 10px 30px;
  background-color: #482;
  width: 100%;
}

.sc-point {
  text-align: center;
  font-size: 1.4em;
  padding: 10px 30px;
  background-color: #fff;
  width: 100%;
}

.boss-hp {
  text-align: center;
  font-size: 1.4em;
  padding: 10px 30px;
  background-color: #FF8C00;
  width: 100%;
}

